.main-navigation__menu-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  padding: 0;
  box-sizing: border-box;
}
  .main-navigation__menu-btn span {
    display: block;
    width: 2rem;
    height: 2px;
    background: white;
  }
.main-navigation__title {
    
    font-size:2rem;
    color: white;
  }
  
  .main-navigation__title a {
    text-decoration: none;
    color: white;
  }
  
  .main-navigation__header-nav {
    display: none;
  }
  
  .main-navigation__drawer-nav {
    height: 100%;
  }
  
  @media (min-width: 768px) {
    .main-navigation__menu-btn {
      display: none;
    }
  
    .main-navigation__header-nav {
      display: block;
    }
    
    /* .main-navigation__title{
      font-size: 10px;
    } */
  }