.main-header {
  align-items: center;
  background: #4f4e4e;
  box-shadow: 0 2px 6px #00000042;
  display: flex;
  height: 4rem;
  left: 0;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  }
  
  main {
    margin-top: 5rem;
    margin-bottom: 15px;

  }
  
  @media (min-width: 768px) {
    .main-header {
      justify-content: space-between;
      width: 100%;
    }
  }