.containerabout{
    height:100vh;
    width: 70%;
    margin:auto;
    margin-top: 60px;
  }
  #skills{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    grid-gap: 20px;
  }
  .iconblock{
    border-radius: 0.5rem;
    padding: 15px 0px;
    text-align: center;
    &.iconblock {
        transition: all .2s ease-in;

        &:hover {
          transform: scale(1.5);
        }
      }
    margin: 0px 12px;
  }
  .skillicon {

    height: auto;
  
    max-width: 50%;
  
  }
 .containerabout h4{
    margin:20px
  }
  .heading{
    width: 40rem;
  height: 80px;
  background-color: #5483ef;
 
  text-align: center;
  line-height: 80px;
  font-size: 40px;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border-radius: 20px;

  }
  .heading:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background: rgb(9, 36, 54);
    transition: .5s;
    z-index: 1;
    opacity: 50%;
  }
  .heading:hover:before {
    right: 0;
  }
  @media (max-width: 780px){
    
    .containerabout{
      height:100vh;
      width: 100%;
      display: inline-block;
      margin:auto;
      margin-top: 60px;
    }
    .containerabout h4{
      font-size: 15px;
    }
    .skillicon {
      
      display: inline;
    
    }
    #skills{
      display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-gap: 2px;
    }
    .heading{
      font-size: 90%;
      width: max-content;
      height: 40px;
      margin: auto;
      line-height: 40px;
      
    }
  }