
.container1{
    margin-top: 7px;
    display: flex;
  }
  p{
    margin:3px
  }

  .card:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .title {
    color: rgb(66, 1, 91);
    font-size: 18px;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: inline-block;
  }
  .card {
    padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(195, 186, 186, 0.2);
      max-width: 500px;
      margin: auto;
      text-align: center;
      background-color: rgb(164, 135, 151);
      transition: transform .2s;
    }

  ul {
    list-style-type: none;
  }
  li{
    display:inline-block;
    margin-right: 10px
  }
  button:hover, a:hover {
    opacity: 0.7;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
  }
  .icon{
    width: 30px;
  }
  .profilepic{
    visibility: visible;
  }
  @media (max-width: 1200px) {
      .card {
        position: absolute;
        bottom: 0vh;
        left: 7rem;
        width: 30rem;
        padding: 20px;
          box-shadow: 0 4px 8px 0 rgba(195, 186, 186, 0.2);
          text-align: center;
          background-color: rgb(164, 135, 151);
          transition: transform .2s;
        }
      .profilepic{
        visibility: hidden;
      }
      
    
  }

