
.sphere {
  position: absolute;
    top: 10%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgb(175 20 149 / 50%);
    /* filter: blur(30px); */
    overflow: hidden;
    z-index: -1;
}
.sphere1 {
  position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(149, 6, 109, 0.5);
    /* filter: blur(30px); */
    overflow: hidden;
    z-index: -1;
}

  .title {
    color: rgb(93, 92, 54);
    font-size: 25px;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: inline-block;
  }


  ul {
    list-style-type: none;
  }
  li{
    display:inline-block;
    margin-right:2rem ;
   
  }
  button:hover, a:hover {
    opacity: 0.7;
  }


/**/
.hero {
  /* position: relative;
  height: 100vh;
  margin-top: 20px;
  background:  left top /cover no-repeat; */
  color: #fff;
  height: 115vh;
  align-items: center;
  display: flex;
    justify-content: center;
}
.row1{
  
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.hero-content {
  position: relative;
 
  z-index: 1;
  width: 100%;
  align-items: center;
  text-align: right;
}
.content{
  display: inline-block;
  text-align: center;
  margin: 10%;
  
}
.image {
  display: flex;
  justify-content: center; /* Horizontally center the image */
  /* height: 100%; Set height of the parent div */
}

.frame {
  max-width: 100%; /* Ensure image doesn't exceed the parent div's width */
  max-height: 100%; /* Ensure image doesn't exceed the parent div's height */
  width: auto;
  height: auto;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

p {
  margin: 10px 0;
  font-size: 1.5rem;
}
.btn{
  background: #22030e;
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.screen{
  width: 100%;
}

@media(max-width:1000px ){
  .hero{
    margin-top: 45px;
    
    
  }
  .sphere{
    visibility:hidden;
  }
  .sphere1{
    visibility:hidden;
  }
  .content{
    margin: 0px;
    width: 100%;
    background-color: rgb(48, 29, 40);
    border-radius: 5%;
    padding: 10px;
    
  }
  .hero-content{
    text-align: center;
    justify-content: center;    
    /* display: flex; */
  }
  
  a{
    color: aliceblue;
  }
  .info{
    font-size: 1rem;
  }
  .name{
    font-size: 2rem;
  }
  .btn{
    padding: 5px 10px;
    font-size: 15px;
    margin: 0px;
  }
}

