  
  body{
    height:100vh;
  }
  
  .card-wrapper {
    perspective: 1000px;
    margin: 2rem;
    margin-bottom: 1rem;
  }
  .card1 {
      box-shadow: 0 4px 8px 0 rgba(195, 186, 186, 0.2);
      text-align: center;
      background-color: rgb(164, 135, 151);
      width: 30rem;
      border: solid 5px rgb(45, 1, 28);
      padding: 7rem;
      height:18rem;
    }
  .extra{
    height:17.5rem;

    padding: 7rem;
    margin: auto;
    }
  .card-rotating {
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  .face {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .face.front {
    transform: rotateY(0deg);
  }

  .face.back {
    transform: rotateY(180deg);
  }

  .card-rotating:hover {
    transform: rotateY(180deg);
  }
  .card-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    background-color: #28051a;
    color: white;
    border-radius: 10px;
    padding: 1px 7px;

  }
  .card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #0c010d;
    color: white;
    border-radius: 10px;
    padding: 2px 10px;
  }

  /* Optional: Add styling to the flipped card */
 
@media (max-width:570px) {
  .card1 {
    width: 25rem;
    height:10rem;
  }
  .extra{
    height:10rem;
    margin: auto;
    }
}

@media (max-width:480px) {
  .card1 {
    width: 20rem;
    height:2rem;
  }
  .extra{
    height:2rem;
    margin: auto;
    }
    
}
