  
  /*body{
    height:100vh;
  }
  
  .card-wrapper {
    perspective: 1000px;
    margin: 2rem;
    margin-bottom: 1rem;
  }
  .card1 {
      box-shadow: 0 4px 8px 0 rgba(195, 186, 186, 0.2);
      text-align: center;
      background-color: rgb(164, 135, 151);
      width: 30rem;
      border: solid 5px rgb(45, 1, 28);
      padding: 7rem;
      height:18rem;
    }
  .extra{
    height:17.5rem;

    padding: 7rem;
    margin: auto;
    }
  .card-rotating {
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  .face {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .face.front {
    transform: rotateY(0deg);
  }

  .face.back {
    transform: rotateY(180deg);
  }

  .card-rotating:hover {
    transform: rotateY(180deg);
  }
  .card-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    background-color: #28051a;
    color: white;
    border-radius: 10px;
    padding: 1px 7px;

  }
  .card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #0c010d;
    color: white;
    border-radius: 10px;
    padding: 2px 10px;
  }

  /* Optional: Add styling to the flipped card 
 
@media (max-width:570px) {
  .card1 {
    width: 25rem;
    height:10rem;
  }
  .extra{
    height:10rem;
    margin: auto;
    }
}

@media (max-width:480px) {
  .card1 {
    width: 20rem;
    height:2rem;
  }
  .extra{
    height:2rem;
    margin: auto;
    }
    
}

*/

.fancy-card {
  background-color: #c9c5c5;
  border: 1px solid #ddd;
  border-radius: 16px;
  overflow: hidden;
  width: 390px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.card-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 16px 16px 0 0;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.card-content {
  padding: 16px;
}
.heading2{
}

.card-title {
  margin: 0;
  font-size: 1.8rem;
  color: #333;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.button1 {
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #27426a;
  }
}

.button1 {
  background-color: #0a0c0a;
  color: #fff;
}


.app-container {
  margin: 2rem;
  
  display: flex;
  flex-direction: column;
  /* height: 100vh;  */
}

.projects-container {
  width: 100%;
  margin-top: 2rem;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media(max-width: 1287px){
  .projects-container {
    max-width: 100%;
    padding: 0 16px;
  }
  .heading2{
  }
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
    
  }}
@media (max-width: 881px) {
  
  .heading2{
  }
  .projects-grid {
    grid-template-columns: 1fr;
    
  }
  .fancy-card{
    width: 90%;
    margin-top: 2rem;
  }
}
@media(max-width: 660px){
  .app-container{
    
    margin: 1rem;
  }
  .fancy-card{
    width: 90%;
  }
}
